body {
    font-family: Arial;
    text-align: center;
    background: #6a11cb;
    color: white;
}

.box {
    background: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

input {
    padding: 8px;
    margin: 5px;
    width: 90%;
}

button {
    padding: 8px;
    margin: 5px;
    background: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
}

#main {
    display: none;
}